<!-- Interpolation -->
<h1>{{ pageTitle }}</h1>
<div>
  <!-- Property Binding -->
  <img [src]="imgUrl" alt="Image">
</div>
<div>
  <!-- Event Binding -->
  <button (click)='incrementCounter()'>Click</button>
  <p>Clicked {{ count }} times</p>
</div>

<!-- Two way Binding -->
<div>
  <input type="text" [(ngModel)]='name'>
  <p>Welcome {{ name }}</p>
</div>

<!-- Split Two way binding -->
<div>
  <input type="text" [ngModel]='userName' (ngModelChange)='greetKrishil($event)'>
  <p>Welcome {{ userName }}</p>
</div>

<!-- Getter & Setter method -->
<div>
  <input type="text" [(ngModel)]='customerName'>
  <p>Welcome {{ customerName }}</p>
</div>

<div>
  <input #nameRef type="text" [(ngModel)]='name'>
  <p>Welcome {{ name }}</p>
</div>
